@model dotNetCoreMVCTelerikGrid.ViewModels.PieVM

@{ ViewData["Title"] = "Pie"; }

<h1>Create new @(Model.Category != null ? Model.Category.CategoryName + "pie" : "pie")</h1>

<h4>Pie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="PieForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="k-textbox" />
                <span asp-validation-for="Name" class="text-danger k-invalid-msg" data-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="k-textbox" />
                <span asp-validation-for="Price" class="text-danger k-invalid-msg" data-for="Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDesc"></label>
                <input asp-for="ShortDesc" class="k-textbox" />
                <span asp-validation-for="ShortDesc" class="text-danger k-invalid-msg" data-for="ShortDesc"></span>
            </div>
            @if (Model.Category != null)
            {
                <div class="form-group">
                    <label asp-for="@Model.Category.CategoryName"></label>
                    <input asp-for="@Model.Category.CategoryName" disabled="disabled" placeholder="@Model.Category.CategoryName" class="k-textbox" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.CategoryId" class="k-textbox" />
                </div>
             }
            else 
            { 
                <div class="form-group">
                    <label asp-for="@Model.Category"></label>
                    <select asp-for="@Model.CategoryId"
                            asp-items="@(new SelectList(Model.Categories,"CategoryId","CategoryName"))">
                        <option>Please select one</option>
                    </select>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="k-button k-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="k-button">Back to List</a>
</div>

<script>$(document).ready(function () {
            $("#CategoryForm").kendoValidator({
                // You can define your custom rules here:
                //rules: {}
            });
        })</script>